@import "tailwindcss";


.google-font-L {
    font-family: "League Spartan", serif;
    font-weight: 400;
    font-style: normal;
  }

.google-font-p {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  